.navigation {
    &__link {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 18px;

        &:before {
            content: "";
            position: absolute;
            width: 0%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #fff;
            mix-blend-mode: exclusion;
            transition: width 0.3s ease-out;
            pointer-events: none;
        }

        &:hover,
        &:focus {
            outline: none;

            &:before {
                width: 100%;
            }
        }
    }
}

.drawer {
    .drawer-content-wrapper {
        .drawer-content {
            padding: 1rem;

            .ant-menu-inline {
                border: 0;
            }
        }
    }
}
