.call {
    background-image: url("../../../img/right-side-golf.jpeg");
    background-size: cover;
    background-position: center 50%;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
